.main-nav {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    padding: 15px;
    font-weight: bold;
    flex-wrap: wrap; 
    border-radius: 1rem;
    width: 100%;
}

.heading-left {
    display: flex;
    align-items: center; 
    flex: 1 1 auto; /* Allow flexibility in width */
}

.heading-left span {
    margin-left: 10px;
}

span:nth-last-child(1) {
    color: skyblue;
}

.navUser{
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    gap: 0.8rem;
}
.LogedUSer{
    background-color: skyblue;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;;
   
    text-align: center;
}


@media (max-width: 360px) {
    .main-nav {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: flex-start; /* Align items to the left */
        background-color:aliceblue;
    }

    .heading-left {
        margin-bottom: 10px; /* Space between heading and other elements */
    }

    .heading-left span {
        margin-left: 10; 
    }
}
