.DescribeText {
    display: flex;
    width: 90%;
    border-radius: 0.5rem;
    border: 2px solid skyblue; 
    padding: 1rem;
    background-color: transparent; 
    transition: all 0.3s ease; 
    outline: none;
    resize: none; 
    height: 110px; 
    color: white;
}

.DescribeText::placeholder {
    color: white; 
    opacity: 1; 
    font-size: larger;
}

.DescribeText:focus,
.DescribeText:active {
    border-color: white;  
}
